<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Credit - Loan &amp; Credit Company HTML Template</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="style.css">
    <script>

var app = angular.module('myApp-payments', []);
app.controller('FormController-Payments', function($scope,$http) {



$scope.insertPaymentEvent = function() {


$http({
        url: 'http://event-analysis-webapp-kafka.192.168.99.100.nip.io/paymentPost',
        method: "POST"

    })
    .then(function(response) {
           $scope.offer = JSON.parse(response.data);



    },
    function(response) { // optional
            // failed
            console.log (JSON.stringify (response, null, 2));
    });



}
});


 </script>

</head>

<body ng-app="myApp-payments" ng-controller="FormController-Payments">
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 d-flex justify-content-between">
                        <!-- Logo Area -->
                        <div class="logo">
                            <a href="index.html"><h1>Acme Financial</h1></a>
                        </div>

                        <!-- Top Contact Info -->
                        <div class="top-contact-info d-flex align-items-center">
                            <span>James Swift</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="credit-main-menu" id="sticker">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="creditNav">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Pages</a>
                                        <ul class="dropdown">
                                            <li><a href="#">Home</a></li>
                                            <li><a href="#">About Us</a></li>
                                            <li><a href="services.html">Payment</a></li>
                                            <li><a href="#">Post</a></li>
                                            <li><a href="#">Single Post</a></li>
                                            <li><a href="#">Contact</a></li>
                                            <li><a href="#">Elements</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Payments</a></li>

                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>

                        <!-- Contact -->
                        <div class="contact">
                            <a href="#"><img src="img/core-img/call2.png" alt=""> +222 222 2222</a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcrumb Area Start ##### -->
    <section class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url(img/bg-img/13.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>Payments</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Payments</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Services Area Start ###### -->
    <section class="services-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading -->
                    <div class="section-heading text-center mb-100">
                        <div class="line"></div>
                        <p>
                        <br/>
                        <h1>Current Balance:
                        $ 684</h1></p>

                        <hr/>
                        <h5>Available Credit: $14,043.12</h5>
                        <br/>
                        <h5>Minimum Payment Due: $34.56</h5>
                        <br/>
                        <div data-animation="fadeInUp" ng-repeat="off in offer track by $index">
                            <br/>
                            <div class="text"><h3>{{off.eventResponsePayload}}</h3></div>
                            <button class="btn credit-btn mt-50" type="submit">Click Here to Set up today</button>
                        </div>
                        <hr/>
                        <p><h2>Transactions</h2><table border="1" class="col-14 col-lg-12">
                            <thead>
                            <tr><td>&nbsp; Reference Number&nbsp;</td>
                            <td>&nbsp; Date&nbsp;</td>
                            <td>&nbsp; Date Posted&nbsp;</td>
                            <td>&nbsp; Purchased By&nbsp;</td>
                            <td>&nbsp; Amount&nbsp;</td>
                            </tr></thead>
                            <tbody>
                            <tr><td>SK76KK</td><td>03/17/2019</td><td>03/17/2019</td><td>James Mician</td><td>$200.00</td></tr>
                            <tr><td>HY665H</td><td>03/17/2019</td><td>03/17/2019</td><td>Lilian Mician</td><td>$20.00</td></tr>
                            <tr><td>JU54433</td><td>03/16/2019</td><td>03/17/2019</td><td>Lilian Mician</td><td>$300.00</td></tr>
                            <tr><td>YUT66</td><td>03/10/2019</td><td>03/09/2019</td><td>James Mician</td><td>$164.00</td></tr>
                            </tbody>
                        </table></p>
                        <br/>
                        <div class="single-widget-area search-widget" ng-init="insertPaymentEvent()">
                            <button class="btn credit-btn mt-50" type="submit" ng-click="insertPaymentEvent()">Payment</button>

                        </div>


                    </div>
                </div>
            </div>


            <div class="row">
                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-service-area d-flex mb-100">


                        </div>
                    </div>
                </div>
            </div>

        <!-- Copywrite Area -->
        <div class="copywrite-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="copywrite-content d-flex flex-wrap justify-content-between align-items-center">
                            <!-- Footer Logo -->
                            <a href="index.html" class="footer-logo"><h1>Acme Financial</h1></a>

                            <!-- Copywrite Text -->
                            <p class="copywrite-text"><a href="#"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
</body>

</html>
